<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-button slot="end" fill="outline" (click)="openModalForm()">
      <ion-icon name="add"></ion-icon>
      <ion-label>Nuevo</ion-label>
    </ion-button>
  </ion-item>

  <div class="ion-text-center">
    <h3>
      <strong>LISTADO DE PRODUCTOS</strong>
    </h3>
  </div>

  <ion-item lines="none" color="transparent">
    <ion-note color="medium"><ion-icon name="information-circle"></ion-icon> Deslice cada item para ver las opciones</ion-note>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label color="primary"><b>ID</b></ion-label>
      <ion-label color="primary"><b>CÓDIGO</b></ion-label>
      <ion-label color="primary"><b>DESCRIPCIÓN</b></ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of listaProductos">
      <ion-item lines="full">
        <ion-grid>
          <ion-row>
            <ion-col size="auto">{{item.id}}</ion-col>
            <ion-col>{{item.codigo}}</ion-col>
            <ion-col>{{item.nombre}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="transparent">
          <ion-icon slot="icon-only" color="success" name="qr-code" (click)="generateBarCode(item)"></ion-icon>
        </ion-item-option>
        <ion-item-option color="transparent">
          <ion-icon slot="icon-only" color="secondary" name="create" (click)="editar(item)"></ion-icon>
        </ion-item-option>
        <ion-item-option color="transparent" (click)="eliminar(item)">
          <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>